<div>
    <h3>Fenêtre & Layouts</h3>
    <div class="row">
        <div class="col-md-12">
            <p><strong>L'explorateur</strong> se compose de 3 grandes parties :
                la <strong>carte</strong>, la <strong>frise temporelle</strong> et la <strong>zone de contenu</strong>.
                Ces 3 parties vous permettent de visualiser différents <strong>articles</strong>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/layouts.JPG" />
            </div>

            <p>En fonction de vos préférences et besoins vous pouvez choisir un arrangement
                différents de ces 3 parties avec les boutons de layout à gauche de cette barre de menu.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>L'explorateur est conçu pour occuper toujours le maximum d'espace sur votre navigateur et ne pas en depasser.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/frontiere-1.JPG" />
            </div>
            <p>Cependant vous pouvez à tout moment retrecir ou agrandir une zone de l'explorateur en
                <i>drag & droppant</i> au niveau des frontieres entre zones.
            </p>
            <div style="float: bottom; clear: bottom; margin-top: 3px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/frontiere-2.JPG" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/sidebar_expander.JPG" />
            </div>

            <p>N'hesitez pas à retrecir la barre de côté grâce à ce bouton en haut à droite du nom du site.
            </p>
        </div>
    </div>
    <h3>Recherche</h3>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/recherche-1.JPG" />
            </div>

            <p>Saisissez une recherche au milieu de cette barre et choisissez le nombre
                maximum d'articles à retourner.
            </p>
            <p>Lancez la recherche en cliquant sur le bouton de filtre.
                Vous pouvez effacer votre recherche avec le bouton reinitialiser.
            </p>
            <div style="float: bottom; clear: bottom; margin-top: 3px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/recherche-2.JPG" />
            </div>
        </div>
    </div>
    <br>
    <h3>Navigation</h3>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/selection-article.jpg" />
            </div>

            <p>Vous pouvez naviguez sur la carte et la frise en <i>drag & drop</i> et en <i>scrolling</i>(zoom/dezoom).
                Cliquez sur un article présent dans ces zones pour l'ouvrir dans la zone de contenu.
            </p>
            <p>Vous pouvez également cliquer sur le bandeau de la frise pour définir l'intervalle entre les deux graduations
                comme nouvelle période de visualisation.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/time-curseur.jpg" />
            </div>

            <p>Vous pouvez <i>drag & dropper</i> le curseur temporel : il définit le liseré d'avancement des articles.
                De plus vous pouvez double-cliquer dessus pour selectionner et ouvrir l'article dont le début est le
                plus proche de la date du curseur.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/advance-buttons.JPG" />
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/zoom-buttons.JPG" />
            </div>

            <p>En bas de la zone temporelle se trouve un menu temporel. Vous pouvez également décaler le temps
                ou zoomer/dezoomer avec ces boutons.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div style="float: top; clear: top; margin-top: 3px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/hdate-picker-1.JPG" />
            </div>
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/date-picker.JPG" />
            </div>
            <p>Cliquez sur la zone ou l'intervalle de temps est affiché pour faire apparaître le HDatePicker et
                choisir un intervalle de temps. Validez-le en bas à gauche du picker.
            </p>
            <p>Les boutons aux extremités du menu temporel indiquent si des articles sont plus en avant
                ou en arriere de l'intervalle courant. Cliquez pour recadrer l'intervalle afin que tous
                les articles soient dedans.
            </p>
            <div style="float: bottom; clear: bottom; margin-top: 3px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/recadre-buttons.JPG" />
            </div>
        </div>
    </div>
    <br>
    <h3>Naviguer avec la zone de contenu</h3>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/article-switcher.jpg" />
            </div>
            <p>Cliquez sur le titre de l'article pour acceder à sa page principale (voir page principale article).
            </p>
            <p>Les boutons chevrons à droite permettent de selectionner les articles précedents et suivants.
            </p>
            <p>Si un bouton 'dossier' apparait cela veut dire que l'article a des sous-articles qui lui sont liés.
                Vous pouvez alors cliquer sur ce bouton pour importer et visualiser les sous-articles de cet article.
            </p>
            <div style="float: bottom; clear: bottom; margin-top: 3px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/voir-sous-article.JPG" />
            </div>
        </div>
    </div>
</div>