<div>
    <h3>Article principal</h3>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/liseré-article-principal.JPG" />
            </div>
            <p>La page principale d'un article est la page explorateur avec des fonctionnalités suuplémentaires.
                Lorsque vous accedez à cette page l'article est affiché avec un liseré violet et ses sous-articles
                sont chargés.
            </p>
        </div>
    </div>
    <h3>Lier et delier des sous-articles</h3>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/lier.JPG" />
            </div>
            <p>
                Lorsque vous creez ou recherchez des articles depuis une page principale en haut à droite
                dans la zone de contenu va apparaitre le bouton <i>Lier</i>. Appuyez sur ce bouton pour creer
                un lien entre l'article selectionné et l'article principal de la page.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/texte_de_lien.JPG" />
            </div>
            <p>Ensuite si vous editez cet article un nouveau champ texte apparait dans le formulaire.
                Il vous permet d'en dire plus sur la relation entre l'article principal et cet article.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/article_non_lié.JPG" />
            </div>
            <p>Sur la frise les articles non liés à l'article principal apparaissent en italique.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div style="float: right; clear: right; margin-left: 5px; margin-bottom: 3px;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/media/help/delier.JPG" />
            </div>
            <p>Quand un article est lié vous pouvez le delier dans la zone de contenu avec ce bouton.
            </p>
        </div>
    </div>
</div>