<form id="article_main_form" method="POST" class="hbase-article-form" action="{{ path('article_create') }}">
<input  id="type_subtype_array" type="hidden" name="dataset" value={{ typeSubtypeArray|json_encode }}>
<h4>{{ form_errors(form) }}</h4>
<table class="table-condensed">
	<tr>
		<td/>{{ form_label(form.title) }}
		<td/>{{ form_widget(form.title) }}
	</tr>
	<tr>
		<td/>{{ form_label(form.type) }}   
		<td/>{{ form_widget(form.type) }}
	</tr>
	<tr>
		<td/>{{ form_label(form.subType) }}   
		<td/>{{ form_widget(form.subType) }}
	</tr>	
	<tr>
		<td/>{{ form_label(form.abstract) }}   
		<td/>{{ form_widget(form.abstract) }}
	</tr>
	<tr>
		<td/>{{ form_label(form.beginDateLabel) }}   
		<td/>{{ form_widget(form.beginDateLabel) }}
	</tr>	
	<tr>
		<td/>{{ form_label(form.endDateLabel) }}&nbsp{{ form_widget(form.hasEndDate) }}   
		<td/>{{ form_widget(form.endDateLabel) }}
	</tr>		
	<tr>
		<td/>{{ form_label(form.subEvents) }}   
		<td/>{{ form_widget(form.subEvents) }}
	</tr>
</table>

		<div id="hts-container" class="hts-container">
			<svg id="hts-svgcontainer" class="hbase-htimescroller" width="1150"
				height="150">
			</svg>
		</div>
	<div>{{ form_rest(form) }}</div>	
	<div>{{ form_widget(form.submit) }}</div>
</form>