{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}
{{ articleDto.title }}
{% endblock %}


{% block stylesheets %}
{% stylesheets '@AppBundle/Resources/hbase/hts/css/hts.css'
  filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />

	<style>
		.hbase-text{
			width: 100%;
			height: 120px;
		}
		.hbase-article-form.main{
			width: 1160px;
		}
		.hbase-article-form.main > table{
			width: 1160px;
		}

		.hbase-label{
			white-space: nowrap;
			overflow: hidden;
			text-overflow:ellipsis;
		}




		</style>

{% endstylesheets %}
{% endblock %}


{% block content_header %}
<h1 class="hts-article-title">Nouvel Article</h1>
{% endblock %}





{% block content %}
<div id="wrapper">
	<div id="header"></div>

	<div id="page">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
	</div>
</div>

<button id="modal-test" type="button" class="btn btn-info btn-lg" data-toggle="modal">Open Modal</button>

<div id="{{ modalForm.vars.id }}">
</div>



{% endblock %}





{% block javascript %}
{#{% include 'AppBundle:Article:hts-package.js.twig' %}#}
{#<script>#}
    {#$("#modal-test").click(function(){#}
        {#$.hbase.modal.article.form.sfAttr('title').val("hello !");#}
        {#$.hbase.modal.article.modal();#}
	{#});#}


{#finalizeForm('main');#}

{#var d1 = new Date({{ beginDate|date("Y")}},{{ beginDate|date("m") - 1 }},{{ beginDate|date("d") }});#}
{#var d2 = new Date({{ endDate|date("Y")}},{{ endDate|date("m") - 1 }},{{ endDate|date("d") }});#}
{#d1 = null;#}
{#d2 = null;#}


{#$("#article_main_form").on("submit",function(event){#}
	  {#// hts.eventManager.prepareSubmission('article_modal','article_main');#}
{#});#}
{#</script>#}
{% endblock%}
