<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}HistoricaBase | Web{% endblock %}</title>
        <meta
                content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
                name="viewport">
        {% block stylesheets %}
            {{ encore_entry_link_tags('noAuth') }}
        {% endblock %}
    {% endblock %}
</head>
<body id="root" class="hold-transition skin-blue sidebar-mini">
<div id="hb-wrapper" class="hold-transition skin-blue sidebar-mini"></div>
</body>
<div id="hb-data" hidden>
    {% block data %}
        <div data-url="{{ app.request.getSchemeAndHttpHost() }}/media/default-mini.jpeg" id="hb-url-default-image-mini"></div>
        <div data-url="{{ app.request.getSchemeAndHttpHost() }}/media/default-detail.jpeg" id="hb-url-default-image-detail"></div>
        <div data-url="{{ hResponse is defined and hResponse!=null and hResponse!='' ? hResponse:'_NA_' }}"
             id="hb-initial-response"></div>
        <div data-url="{{ url('security_register') }}" id="hb-url-security-register"></div>
        <div data-url="{{ url('security_login') }}" id="hb-url-security-login"></div>
        {% for wao in waoList() %}
            <div class="hb-wao-mapping" data-mapping="{{ wao|getMapping() }}" id="hb-mapping-{{ wao|getAbridgedName() }}"></div>
            <div class="hb-wao-structure" data-structure="{{ wao|getStructure() }}" id="hb-structure-{{ wao|getAbridgedName() }}"></div>
        {% endfor %}
        <div data-token="_NA_" id="hb-security-token"></div>
    {% endblock %}
</div>
{% block javascript %}
    {{ encore_entry_script_tags('noAuth') }}
{% endblock %}
</html>