{% extends "base.html.twig" %}


{% block title %}
Tests insertions Geographiques
{% endblock %}

{%  block content %}
<p>Page de tests insertions statiques Geographiques</p>
    <h1>Tests Normalization</h1>

    <table class="table table-striped table-bordered">
        <tr>
            <th>arg</th>
            <th>support</th>
            <th>result</th>
        </tr>
        {% for item in normRes %}
            <tr>
                <td>{{ item.arg }}</td>
                <td>{{ item.support ? 'Oui' : 'Non' }}</td>
                <td>{{ item.result }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Tests Denormalization</h1>

    <table class="table table-striped table-bordered">
        <tr>
            <th>arg</th>
            <th>support</th>
            <th>result</th>
        </tr>
        {% for item in denormRes %}
            <tr>
                <td>{{ item.arg }}</td>
                <td>{{ item.support ? 'Oui' : 'Non' }}</td>
                <td>{{ item.result }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
