<html>
<head>
</head>
<body>
Bonjour {{ user.username }},<br />
Votre message ci-dessous a bien été envoyé au webmaster de {{ siteName }}.<br/><br/>

<b>Type de message : </b><strong>{{ type }}</strong><br/>
<b>Sujet : </b><u>{{ subject }}</u><br/>
<b>Message : </b><br/>
{{ message }}

<br/><br/>
Il fera tout son possible pour y répondre rapidement :).
<br/><br/>
Cordialement,
<br/>
{{ siteName }}
<br/>
</body>
</html>